PORT=4000
DATABASE_URL="postgresql://postgres:your_password@db.your-project-ref.supabase.co:5432/postgres?sslmode=require"
RAZORPAY_KEY_ID="rzp_test_xxxxxxxxxxxx"
RAZORPAY_KEY_SECRET="xxxxxxxxxxxxxxxx"
